[Unit]
Description=RuntipiOS WiFi Hotspot
After=network.target
Conflicts=wpa_supplicant.service
ConditionPathExists=!/etc/wpa_supplicant/wpa_supplicant.conf

[Service]
Type=forking
ExecStart=/usr/local/bin/runtipios-hotspot start
ExecStop=/usr/local/bin/runtipios-hotspot stop
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
