[Unit]
Description=Runtipi Installation Service
After=docker.service runtipios-setup.service
Requires=docker.service
ConditionPathExists=!/opt/runtipi/state/.installed

[Service]
Type=oneshot
User=runtipi
ExecStart=/usr/local/bin/runtipi-install
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
