[Unit]
Description=Runtipi Installation Service
After=network-online.target runtipios-setup.service
Wants=network-online.target
ConditionPathExists=!/opt/runtipi/state/.installed

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/runtipi-install
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
TimeoutStartSec=1200

[Install]
WantedBy=multi-user.target
